<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/.ico" href="/blog/assets/images/favicon.ico">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5YCD8YJ5BS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5YCD8YJ5BS');
</script>
  <body>
    <div id="header" >
      <nav>
        <ul><li class="fork"><a href="{{ site.baseurl }}">Home</a>

        </li>
        </ul>

        <ul>

          {%- assign default_paths = site.pages | map: "path" -%}
          {%- assign page_paths = site.header_pages | default: default_paths -%}

          {%- if page_paths -%}


            <li class="fork">

              {%- for path in page_paths -%}

                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                &nbsp;
                &nbsp;
                <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                {%- endif -%}

              {%- endfor -%}
          </li>

          {%- endif -%}

        </ul>

      </nav>
    </div><!-- end header -->

    <div class="wrapper">

      <section>
        <!-- Dont need to display all of this on every page -->
        <div id="title" style="height: 45px;" >
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->
          <br>
          <hr>
        </div>

        {{ content }}

        <hr>
        <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
        <span class="credits right"><a href=" "></a></span>

      </section>

    </div>
  </body>
</html>
